# local folders
notebooks/
exp[0-9]*/
data/*/

# setuptools
MANIFEST
*.egg-info

# images
*.png

# jupyter notebook
figures/*.ipynb
/**/*.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vscode settings
settings.json